[2019-09-12 04:16] AmitKumarDas opened #11 "Use Metac as a library"
![as-deployment](https://user-images.githubusercontent.com/2794362/64753672-b3f0bd00-d541-11e9-95db-c27e5cfaa7e1.png)

This picture suggests use of Metac as a library to be used by the logic implementing K8s controller(s).
- Deployment here refers to a Kubernetes Deployment
- Deployment will have a container image that is supposed to implement one or more K8s controllers
- Deployment image will us

[2019-09-13 05:25] AmitKumarDas opened #12 "Case for Metac"
### Motivation
Metac's main purpose is to simplify writing Kubernetes controllers.

Let us try to analyse the things that developers need to deal with before writing Kubernetes controller logic. Below go snippet provides most of the thought process that goes in before writing the controller / reconciler business logic.

[code]

The next set of activities is typically to filter the resources fetche

[2019-09-13 09:03] AmitKumarDas opened #13 "use case: custom en-queue logic"
As a developer, I would like Metac to support custom logic before en-queuing a watch resource.
For example, I want below en-queue condition to be supported by Metac

[code]

[2019-09-14 12:48] AmitKumarDas opened #14 "Filter attachment(s) based on watch"
### Motivation
Metac's GenericController introduces the concept of **_watch_** and **_attachments_**. One can think of watch as the resource that is observed via `Informer` and attachments as the resources that should be fetched/listed via `Lister` based invocations. With this concept in mind, how do we filter out the attachments that belong to the particular watch. Note that GenericController sho

[2019-09-18 04:07] AmitKumarDas commented on #14
Some of the schema definitions that can be referred to are:
- NodeSelector in  https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/core/v1/types.go

[2019-09-22 07:01] AmitKumarDas opened #15 "Need for `Assert` based hooks"
### Motivation
Kubernetes developers need to write lot of code _(w.r.t Golang)_ to test their controllers. It ranges from use of Ginkgo, Gomega, fake objects, standard testing package & the list continues. This issue acts as a placeholder to put thoughts to simplify this testing effort and make it more agile _(in terms of DAG tasks, pipelines, etc)_.

### High Level Thoughts
One of the thoughts to

[2019-09-25 10:11] ksatchit opened #17 "Ability to precondition/construct kubernetes resources by pulling definition from a custom resource"
### USECASE

The [chaos executor](https://github.com/litmuschaos/litmus/tree/master/executor) is a playbook (itself run as a pod/job) that reads some information (mostly, ENV) from a CR called [chaosExperiment](https://github.com/litmuschaos/community-charts/blob/master/charts/kubernetes/state/experiments/pod-delete-exp.version.yaml), constructs a data structure (list of key:value pairs) and uses

[2019-09-25 10:42] AmitKumarDas commented on #17
Thanks @ksatchit for the usecase.

Is it exepcted to have the configmaps, secrets, persistentvolumes to be already available when this experiment is applied. In other words, given an experiment a Job needs to be created. Job in turn might need several other resources like configmaps, secrets, pv etc

[2019-09-30 12:41] AmitKumarDas commented on #17
@ksatchit You may want to try out some examples in this repository. Perhaps that will help you understand more in terms of how Metac works. I am sure, we can figure out suitable controllers for your requirements.

[2019-10-01 03:36] AmitKumarDas commented on #15
These are some of the current ways of testing kubernetes controllers:
- https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/e2e-tests.md
- https://kubernetes.io/blog/2019/03/22/kubernetes-end-to-end-testing-for-everyone/

[2019-10-17 11:36] arielb135 opened #32 "Attaching my metacontroller project"
hi, i'm not sure if you wish to link it - but i've created a metacontroller based project that handles rabbit MQ, 2 things:

1. i can change the necessary code to move it to metac instead, if you could give me some info what should be changed (and if this is now the official repo?)
2. i did use k8s API to read some related secrets, i understand you have a new feature that handles some dependent ob

[2019-10-27 09:40] AmitKumarDas commented on #32
@arielb135 First of all really sorry that I missed the notification of this issue.

I am planning to maintain Metac & use it for production needs of OpenEBS (a CNCF sandbox project). I am also planning to raise a proposal to Kubernetes to move original metacontroller or this metac to kubernetes-sigs. However, this will take considerable amount of time & also need efforts from other like minded ind

[2019-10-27 09:46] arielb135 commented on #32
Thanks, i think it is important to add some documentation about what's the purpose of GenericController and implement a main use case example if you want it to be more widely used. we're already pushing it to production using metacontroller, but if we will add more features i'll def check the move to metac if it will be mature enough

[2019-11-13 04:49] AmitKumarDas commented on #17
These examples should provide some ideas:
https://github.com/AmitKumarDas/metac/tree/master/examples

[2019-11-13 04:49] #17 closed

[2019-11-13 04:50] AmitKumarDas commented on #14
https://github.com/AmitKumarDas/metac/pull/51

[2019-11-13 04:51] #12 closed

[2019-11-13 04:55] AmitKumarDas commented on #11
Metac supports being imported as a library. Some of the examples that use metac as a library can be found here:
- https://github.com/AmitKumarDas/metac/tree/master/examples/gctl/set-status-on-cr
- https://github.com/AmitKumarDas/metac/tree/master/examples/gctl/uninstall-openebs

[2019-11-13 04:55] #11 closed

[2019-11-13 04:59] AmitKumarDas commented on #13
Metac is coming up with advanced selectors both for watch as well as for attachments. Though selector is purely for the purposes of filtering, IMO it can go a long way to solve the problem statement mentioned in this issue.

In addition, it will be advisable to keep metac away from introducing reconcile specific logic or fragments of these logic into meta controller specifications.

I shall close

[2019-11-13 05:05] AmitKumarDas commented on #32
I still have not come with docs. However, there are few examples that make use of new features in Metac:
- GenericController _(gctl)_ as a meta controller that can be set with any watch & any arbitrary resources as attachments
- GenericController as a config _(and not a K8s CRD)_
- Metac as a library _(this is possible only for Golang based projects)_

Following is the link to examples:
https://gi

[2019-11-13 05:46] AmitKumarDas opened #63 "add support to update attachments even when they are pending deletion"
UserStory: As an infrastructure admin, I want my workload specific un-installer to uninstall all native Kubernetes resources, custom resources as well related custom resource definitions. I would like to delete the workload specific namespace & expect all associated pods, deployments, crds, custom resources (even with finalizers) get deleted.

Metac: Metac has a finalizer hook that handles reconci

[2019-11-13 05:50] AmitKumarDas commented on #63
This PR (https://github.com/AmitKumarDas/metac/pull/60) was committed recently to handle this problem. However, it will be better to have this declared in the specs of meta controller. It might even be necessary to enable this property for both `sync` & `finalize` hooks.

[2019-11-18 16:35] grzesuav opened #64 "Use semantic release in metac"
To make automatic release notes and make easier to deploy new version, `semantic-release` could be used. https://github.com/semantic-release/semantic-release is a tool which :
* create release notes from commit messages
* creates releases on gihub  https://github.com/AmitKumarDas/metac/releases page
* version the release automatically

It would need :
* make commit messages follow some conventions

[2019-11-18 16:37] grzesuav commented on #64
@AmitKumarDas  I can try to add support (I have done it in my gitlab project ) probably shouldn't be hard for github.

[2019-11-18 16:44] grzesuav opened #65 "Documentation (/docs) links does not work"
When clicking on various links inside `docs` github return `404` - they should be adjusted. Also README.md points to  metacontroller which have been diverged from this project

[2019-11-18 16:45] AmitKumarDas commented on #64
Sounds great @grzesuav

[2019-11-18 16:45] grzesuav opened #66 "docs: Add link to docker image"
Could not find any reference ti dockerhub image, please add it to the README

[2019-11-18 22:13] grzesuav commented on #64
briefly looking on commit messages:

[code]
so the closes match is https://github.com/conventional-changelog/conventional-changelog/tree/master/packages/conventional-changelog-ember#ember-convention .

However I often find used Angular commit conventions (https://github.com/angular/angular.js/blob/master/DEVELOPERS.md#type) (at least up to types) which look likes :
[code]

I would propose the simi

[2019-11-18 22:16] grzesuav commented on #15
not sure it it won't duplicate functions of https://www.openpolicyagent.org/docs/latest/kubernetes-introduction/ -- OPA Gatekeeper, which is `Wehbook Validator` which uses `rego` rules to check manifests before applying them to cluster

[2019-11-18 22:17] grzesuav commented on #15
or you mean to write to tests for operators to be executed via metac on the cluster ?

[2019-11-19 02:33] AmitKumarDas commented on #64
`chore: #555 - Update Issue template with LTS info`

I guess above looks fine. I hope #555 is issue number. Issue may be optional perhaps.

[2019-11-19 02:34] AmitKumarDas commented on #64
Can I set the old commits with labels like major, minor, chore etc. Will that do without getting too much into git stuff.

[2019-11-19 15:27] AmitKumarDas commented on #64
@kmova can you please provide your thoughts as well.

[2019-11-19 15:32] AmitKumarDas commented on #15
@grzesuav the second option. This is all about using metac as a conformance controller. We might use any language. However rego or jsonnet should also do this job. It should be about asserting the things in the cluster. You can think of this as a kind of continuous monitoring / health check as well.

[2019-11-19 17:53] grzesuav commented on #15
What should happen when `Assert` isn't met ?

[2019-11-19 17:55] grzesuav commented on #64
No, I am afraid not. Semantic release relies only on git commit messages. Other  option is to `tag` new release manually and enforce standards and introduce semantic release since this moment.

[2019-11-19 18:00] grzesuav commented on #64
Moreover (https://github.com/semantic-release/semantic-release/blob/master/docs/support/FAQ.md#can-i-set-the-initial-release-version-of-my-package-to-001) they recommend to start from `1.0.0` so maybe it would be possible to manually tag a `1.0.0` with release notes etc and since then rely on commit messages ?

By the way @AmitKumarDas I have some questions :
1. Which CI is used for doing build ?

[2019-11-20 05:57] AmitKumarDas commented on #66
https://github.com/AmitKumarDas/metac/blob/master/manifests/metacontroller.yaml#L80

It's at quay. It's public. Will it be possible for you to verify and update the readme. Alternatively will see if I can make some time tomorrow.

[2019-11-20 14:21] AmitKumarDas commented on #15
`Assert` results will most probably be set as status & conditions against the watched resource. So users need to define their custom resource which has status & conditions & so on. This custom resource can have specs that indicates what needs to be asserted etc. The design of custom resource belongs to the end user.

GenericController will be set with above custom resource as the `Watch` & other r

[2019-11-26 05:15] kmova commented on #64
@grzesuav - thanks for bringing up these questions.

I agree we should go ahead and make a 1.0.0 release and start enforcing the commit message format.

- Regarding the commit message format, can it be:
[code]
  At times, a PR can be raised without an issue, so the #issue number can be optional.

- For CI, we could use travis, but open to ideas.

Also, is there a way to enforce commit message form

[2019-11-26 21:15] grzesuav commented on #64
@kmova - yes, for format message it is actually an angular message format - https://github.com/angular/angular.js/blob/master/DEVELOPERS.md#-git-commit-guidelines . I would say that (scope) should be also optional - actually we only need `type` to make semantic-release work

for enforcing commit messages for example https://probot.github.io/apps/commitlint/

so, travis is also building go binaries

[2019-11-26 22:50] AmitKumarDas commented on #64
@grzesuav Triggers have been set at [quay](https://quay.io/repository/amitkumardas/metac) to build docker images of metac whenever any PR is pushed against [metac repo](https://github.com/AmitKumarDas/metac/). These images are hosted at quay _(similar to dockerhub)_.

One needs to use `docker pull quay.io/amitkumardas/metac` or `quay.io/amitkumardas/metac` as the image name. One can also use vario

[2019-12-03 21:47] grzesuav opened #67 "cross reporting : [bug] Metacontroller crash when one of the CompositeControllers misbehave"
https://github.com/GoogleCloudPlatform/metacontroller/issues/191

Probably the same for metac

[2019-12-08 06:32] AmitKumarDas commented on #66
@grzesuav Please check if following helps?
https://github.com/AmitKumarDas/metac/pull/68

[2019-12-08 06:34] AmitKumarDas commented on #65
Hi @grzesuav I have purposefully linked metac's docs to metacontroller. This should be the case till metac has its own docs. I am also looking out for contributions / help from community in this regards.

[2019-12-09 03:26] AmitKumarDas opened #69 "add `run to completion` option for metac process"
**UserStory**: As a developer/admin, I want to develop my uninstall logic based on metac. I would like the logic to be run as a kubernetes job & mark completion of uninstall when this job is completed. This ensures the job's pod & associated resources (cpu, memory) are freed up. Current version of metac does not have a way to stop the reconciliation completely & subsequently stop the main process

[2019-12-09 10:26] #66 closed

[2019-12-09 20:56] grzesuav commented on #64
@AmitKumarDas ok, so on `tag` there will be `tagged` docker release made there ? Likes `quay.io/amitkumardas/metac:1.0.0` ?

[2019-12-10 01:53] AmitKumarDas commented on #64
Yes. @grzesuav
It's the same case when we cut a GitHub release on the repo. This release version is automatically reflected as a tag in the docker image.

[2019-12-11 07:41] AmitKumarDas opened #70 "add example that showcases `defaulting` controller"
UseCase: As a developer who uses metac to build my controller, I need metac to support setting of defaults against my watched resource specifications. These defaults should be set against the fields of the resource that are not set.

NOTE: This controller is expected support GitOps such that the specifications without defaults are stored in my git repository. However, the resource in etcd has the

[2019-12-11 07:43] AmitKumarDas commented on #70
We can try below metacontrollers to prove if Metac supports this usecase:
- DecoratorController
- GenericController

[2019-12-11 08:10] AmitKumarDas opened #71 "add examples to showcase setting status conditions against watched resource"
**UseCase**: As a developer who uses metac to build my controller, I need metac to support setting of status & conditions against my watched resource specifications.

_Solution_: Metac as such does not need any changes to support this requirement. We need to verify by adding following items:
- add example(s) that showcases above usecase
- add integration test(s) that showcases above usecase

[2019-12-11 13:50] AmitKumarDas opened #72 "update metac binary to use latest version of go"
Update the Dockerfile to use latest version of go to build its binary. This should be accompanied by successful run of all the integration tests as well as examples.

[2019-12-11 13:56] AmitKumarDas opened #73 "update all examples to use metac binary instead of metacontroller binary"
Some of the examples in metac refer to metacontroller binaries & steps. These needs to be corrected to use metac binaries as well update steps wherever required.

[2019-12-13 07:13] AmitKumarDas opened #74 "ability to use go get to pull metac"
These were some comments/suggestions received from community in metacontroller slack channel.

[code]

[2019-12-13 10:30] AmitKumarDas commented on #74
I guess this can be tied with https://github.com/AmitKumarDas/metac/issues/65 to solve both

[2019-12-13 11:41] AmitKumarDas opened #75 "rewrite k8s sample controller using metac"
**UseStory**: As a developer I would like to compare writing controllers using client-go vsersus metac. This will help me understand the different concepts of metac.

**Solution**: It will be ideal to implement sample controller using below combinations to provide options to teams/individuals to help them in their final decision making process:

1. different approaches &
2. multiple programming la

[2019-12-15 02:31] AmitKumarDas opened #76 "cross reporting: Examples showcasing migrating from old CR to a new CR"
Original Issue is [here](https://github.com/GoogleCloudPlatform/metacontroller/issues/192)

[2019-12-17 05:52] AmitKumarDas opened #77 "Delete logs don't depict the right workflow"
_Problem Statement:_ Current code of Metac logs for extra delete checks even if the object is not a candidate for delete.

_Solution:_ Move extra delete checks from:

https://github.com/AmitKumarDas/metac/blob/master/controller/common/manage_attachments.go#L552-L572

**_to_**

https://github.com/AmitKumarDas/metac/blob/master/controller/common/manage_attachments.go#L574-L577

Above will ensure log

[2019-12-17 06:04] AmitKumarDas opened #78 "Update logs don't depict the right workflow"
_Problem Statement:_ Current code of Metac logs the extra update checks even if the object is not a candidate for update.

_Solution:_ Change the log statements present in following blocks of code:

https://github.com/AmitKumarDas/metac/blob/master/controller/common/manage_attachments.go#L299-L352

e.g.

[code]
to
[code]

[2019-12-17 06:15] AmitKumarDas opened #79 "option to add Update similar to UpdateAny but for specific attachment"
_Problem Statement:_ Currently GenericController supports updating any attachment via `UpdateAny` tunable. However, there can be cases when GenericController should support fine granular update policies on a per attachment basis. In such a case, UpdateAny will not be set and `Update` will be set against a particular attachment kind.

[2019-12-17 06:18] AmitKumarDas opened #80 "option to add Delete similar to DeleteAny but for specific attachment"
Put requirements @AmitKumarDas

[2019-12-17 07:04] AmitKumarDas commented on #79
_Solution:_ Spec.Attachments[n].UpdateStrategy is by default set to "OnDelete". In other words, update can only proceed if that attachment is first deleted. This property can be made use of to set updates against a particular resource kind even when UpdateAny is set to true.

[2019-12-17 07:04] #79 closed

[2019-12-18 03:33] AmitKumarDas opened #82 "Change log level from 4 to 5 for the logic that logs last applied annotation"
_**Problem Statement:**_ Following block of code should be modified to use log level 5 instead of log level 4. This log seems to be extra debug info & can be treated on same level as hook response received from hook invocations.

https://github.com/AmitKumarDas/metac/blob/master/dynamic/apply/apply.go#L80-L87

[2019-12-18 04:53] AmitKumarDas opened #83 "Improve logs starting with `attachment(s) received from hook response`"
**_ProblemStatement:_** Following logs clutter the log file. It will be good to improve this log format.

[code]

![Screenshot from 2019-12-18 10-23-44](https://user-images.githubusercontent.com/2794362/71056839-b423d880-2180-11ea-9470-78e9f526c27e.PNG)

[2019-12-19 05:00] #72 closed

[2020-01-03 05:40] #77 closed

[2020-01-03 16:11] cliffpracht opened #85 "Ability to not watch attachments or child resources"
@AmitKumarDas, first off -  I just want to thank you for taking over ownership of this project!  The work you have done is very much appreciated.

I was wondering if you can think of a way for metac to create a resource but not actually watch for changes.   There is a Child resource that we are creating(via `CompositeController`) that is being continually updated, which is causing a large number o

[2020-01-04 00:41] AmitKumarDas commented on #85
@cliffpracht thanks for explaining the issue. IMO Generic Controller should solve this very problem. It only observes for watch resource. Attachments can be any arbitrary resource. When I say arbitrary I mean the attachments can be used as read only, or can be created or updated. Again all this happens during the reconcile that was triggered due to the watch resource.

If the scenario demands us t

[2020-01-05 07:13] AmitKumarDas opened #87 "add github actions / workflow"
It will be great to add `GitHub Actions` based CI CD workflow to Metac. Metac has Travis doing all the CI CD stuff as of now. However, an additional CI CD tooling esp. GitHub Actions should be good to have considering its acceptance over the last few months.

[2020-01-05 07:15] AmitKumarDas opened #88 "add various badges in the README"
It will be good to include various badges like `code coverage`, `go report`, `go docs`, `license`, etc in the README page.

[2020-01-06 03:27] cliffpracht commented on #85
Very cool!   Thanks @AmitKumarDas

Hence why it is called the `watch` resource vs an `attachments` resource 👍

I'll give it a shot about creating an example PR.   I must say I really like the option that the generic controller can be used as a library as well..  nifty!

[2020-01-06 03:33] AmitKumarDas commented on #85
@cliffpracht all the features were from our production needs. I am sure others will benefit from this as well.

_In addition, other metacontrollers `i.e. composite & decorator` can be used as **library** as well if we put similar code changes._

[2020-01-09 09:25] AmitKumarDas opened #89 "add granular update & delete options to GenericController"
**_Problem Statement_**: A GenericController can create, update or delete any attachments. There are no visible issues if this controller deletes or updates the attachments which were created by this controller. However, one would like to exercise finer control via GenericController while trying to delete or update resources that were **not** created by the same controller. GenericController alrea

[2020-01-09 13:18] AmitKumarDas opened #90 "proposal to move Metac to kubernetes-sigs"
Details of the proposal are mentioned [here](https://github.com/GoogleCloudPlatform/metacontroller/issues/184#issuecomment-572555671)

[2020-01-15 10:37] AmitKumarDas commented on #75
https://github.com/AmitKumarDas/metac/pull/92

[2020-01-27 02:59] AmitKumarDas opened #97 "support status conditions as API in hook response"
**_UseCase_**: As a developer of controllers that use Metac, I would like to have first class support for status conditions as part of hook response API. This will let Metac to merge, update or delete conditions based on the new API structure. This benefits the developers to bother less on how conditions which are list of maps needs to be merged & so on.

[2020-02-12 04:58] AmitKumarDas commented on #89
It will be better to use `ObjectMeta` & `Type` fields to determine what is eligible to be updated &/ deleted. For example a sample response will be as follows:
[code]

In addition, a few scenarios might want to expose those resources that are eligible to be sync-ed _(i.e. both update, delete)_. OTH the response structure can look like the following:
[code]

[2020-02-14 09:42] AmitKumarDas opened #100 "feat: reconcile status in GenericController"
**_Problem Statement_**: All the metacontrollers avoid reconciling the status field of children or attachments. This has been done to avoid hot loop paths in control loop. However, GenericController's attachments may not necessarily trigger hot loop paths. It might be advisable to selectively allow reconciling status of its attachments as well. In addition, this helps a controller developer to set

[2020-02-20 03:00] AmitKumarDas opened #101 "feat: add selector expressions for interface{} & map based selections"
Problem Statement: It might be a good idea to perform selector matches against fields that are set with `interface{}` or `map[string]interface{}` datatypes. Since some of the datatypes used in a resource fall under above, having a selector expression on the same will be helpful.

[2020-03-06 05:33] AmitKumarDas opened #102 "local gctl: auto set namespace selector against watch via some environment variable"
**_Problem Statement_**: I would like to use Metac as a library that is packaged as my own binary. This binary will get deployed as a Kubernetes Deployment or STS. I would like to use MetaController CR as a config that should only consider watches in this Deployment/STS namespace.

[2020-03-07 09:50] AmitKumarDas commented on #89
We might want to consider following cases:
- updates can be granted based on specified kind & apiVersion
- deletes can be granted based on specified kind, apiVersion, name & namespace

[code]

NOTE: One might consider using wildcards i.e. '*' as well. For example:

[code]

[2020-03-09 09:57] grzesuav commented on #64
hi @AmitKumarDas , maybe we can push this further ? We need to :
* tag release 1.0.0 manually
* add commit verificator (to check commit prefixes)

and then I can add semantic release (and automate relasign basing on it)

[2020-03-09 10:10] AmitKumarDas commented on #64
Hi @grzesuav
Do we need to first tag a 1.0.0 & then add the commit verification?

Do you have in mind any commit verificator that can be added to this repo right away? I can add the same or even accept any PR?

I shall do the manual release of 1.0.0 shortly.
cc @luisdavim do you have any reservations on tagging.

[2020-03-09 13:15] grzesuav commented on #64
Probably can add commit verification earlier, could try

[2020-03-09 16:31] luisdavim commented on #64
We should also start publishing the helm chart to https://hub.helm.sh/ using the same version as the docker tag.

[2020-03-10 21:46] grzesuav commented on #102
@AmitKumarDas maybe could you elaborate what is needed to achieve this behavior ?

[2020-03-10 21:56] grzesuav commented on #64
Initial config https://github.com/AmitKumarDas/metac/pull/104

[2020-03-10 21:58] grzesuav commented on #64
@luisdavim yes, version should be sourced from git-tag. Release in semantic-release trigger new tag, which pushes docker image and helm chart release. Not sure @AmitKumarDas you are also publishing go package somewhere ?

[2020-03-10 21:59] grzesuav commented on #64
after merging (or before) one of the maintainers should install https://github.com/apps/semantic-pull-requests - @AmitKumarDas can you do it ?

Configuration (types - like feat/fix/chore/etc) can be adjusted later (I will try to add semantic-release and config in one go)

[2020-03-10 22:07] grzesuav commented on #64
For semantic release itself, it can be done via :
* github action (like https://github.com/marketplace/actions/action-for-semantic-release)
* travis ci

what is your preference ?

[2020-03-11 03:01] AmitKumarDas commented on #64
Let us try with github actions.
I have added NPM_TOKEN & GITHUB_TOKEN as personal access tokens. However, I am not sure of the level of access that needs to be granted.

[2020-03-11 03:02] AmitKumarDas commented on #64
Done with merge as well as installing above app!

[2020-03-11 04:02] AmitKumarDas commented on #102
I will try to explain via a sample config for GenericController.

NOTE: A config has schema that matches one or more GenericController(s). This config is typically placed at /etc/config/metac/ path of the container. This container hosts the metac binary that reads this config & starts informers _(one informer per watch mentioned in GenericController)_.

NOTE: In my case this binary is a golang pro

[2020-03-11 18:23] grzesuav commented on #64
@AmitKumarDas https://github.com/AmitKumarDas/metac/pull/105

![image](https://user-images.githubusercontent.com/9568421/76450284-cc953f00-63cd-11ea-8f26-fd42a017ae25.png)

so seems working

[2020-03-11 18:29] grzesuav commented on #64
I have played a bit, amending commit and editing PR title to semantic form makes it unblock the PR

[2020-03-13 16:22] floriankoch opened #106 "Use a distroless image"
What do you think of using https://github.com/GoogleContainerTools/distroless as a base image instead of debian slim?

[2020-03-17 19:56] grzesuav commented on #106
Need to be very careful, as it makes debugging (exec into running container) impossible

[2020-03-17 21:28] grzesuav commented on #64
https://github.com/AmitKumarDas/metac/pull/109

[2020-03-17 21:34] grzesuav commented on #64
hi, example config there (and result of running on my fork). some remarks :
1. every push to master will trigger a release
2. currently tests are run on travis and independently github action triggers a release. Therefore master could fail and release could be trigered. Mitigation needed.
3. release creates tag. Need to add triggering a docker build on tag. @AmitKumarDas how it is done currently ?

[2020-03-17 21:38] grzesuav commented on #64
around 2. - possible solutions :
* wrap running travis ci into workflow and trigger release on master only when travis ci passed
* run tests as github action

[2020-03-17 21:41] grzesuav commented on #64
around 3.
* I see advantages of keeping whole CI in one place , looking at https://quay.io/repository/amitkumardas/metac?tab=tags it creates a lot of versions

[2020-03-17 21:46] grzesuav opened #110 "Enable logging in json format"
https://github.com/GoogleCloudPlatform/metacontroller/issues/167

[2020-03-18 06:20] floriankoch commented on #106
@grzesuav  yes and no - you can use the :debug variant, with a busybox included

[2020-03-18 09:55] AmitKumarDas opened #111 "bug: MatchFields error out if value has forward slash"
Following MatchFields results in error
[code]

[code]

[2020-03-18 12:41] AmitKumarDas commented on #64
@grzesuav Any CI or github actions that makes the entire workflow smooth will be good.
I would need help from your side to setup these.

Travis CI is used to check if integration test, unit test & docker image build is actually passing.
Quay is setup from my own repository/login after integrating it with metac repo. Quay triggers build for every PR & merge to metac.
Release is a manual tagging pro

[2020-03-18 12:45] AmitKumarDas commented on #106
I will change it to distroless image or would love to accept any PRs on the same.
In fact I have been using distroless image for my other projects without issues.

Refer - https://github.com/mayadata-io/cstorpoolauto/blob/master/Dockerfile

[2020-03-18 12:50] AmitKumarDas commented on #110
What is the end goal in mind here @grzesuav ?
Do we think exposing operational stuff as metrics achieves the same goal?
Since metac can be used as a library, does it mean all those projects should also use json based logging?

[2020-03-18 12:52] AmitKumarDas commented on #90
As per latest reviews & comments, we might want to move original [metacontroller](https://github.com/GoogleCloudPlatform/metacontroller) instead. Specific features or enhancements of metac may be upstreamed if required.

Hence, on the long run metac will be maintained even with the proposal to move metacontroller to kubernetes-sigs.

[2020-03-18 12:55] floriankoch commented on #106
@AmitKumarDas i will send a PR

[2020-03-18 12:59] floriankoch commented on #90
@AmitKumarDas   is there a timeline for this?

[2020-03-18 13:07] AmitKumarDas commented on #90
We are waiting till all legal approvals to move from GoogleCloudPlatform to Kubernetes is cleared.
However, @alaimo will start off with the first steps from below list:

[code]

[2020-03-18 17:53] grzesuav commented on #110
To make it compatible with elasticsearch or any distributed logging aggregation system.

It should be configurable, I do not have much insights in go ecosystem.

In java world I would :
* use logging abstraction (like slf4j)
* separate standalone and library packages - like distribution == library + runtime implementation
so it allow to have common core and let implementation of used logging libra

[2020-03-18 17:55] grzesuav commented on #106
I would say both variant should be present. Also @floriankoch if you wish to have :debug version of metacontroller it should also be distributed (basing on :debug go distroless image)

[2020-03-18 18:01] grzesuav commented on #64
sure, I can do it. But wanted to confirm flow first :
1. Run test via github actions on every push/PR- to check if it is possible
2. When test pass on master - trigger a semantic-release, which creates also a tag
3. When on tag - publish artifacts (if possible) and trigger docker push

@AmitKumarDas are you ok with that ?

[2020-03-18 18:07] grzesuav commented on #64
I have found https://github.com/marketplace/actions/build-tag-publish-docker for building containers in github action

[2020-03-18 19:02] alaimo commented on #90
Thanks @AmitKumarDas. Yes, I plan to start working on step 1 soon. Likely not until next week. Right now we are still still trying to figure out schedules and adjust to school closures. I'll update this thread when a link to the work is available.

[2020-03-18 20:22] grzesuav commented on #64
@AmitKumarDas I have integrated testing and releasing on single workflow :
example : https://github.com/grzesuav/metac/actions/runs/58455222

tests and integrations-test are run in parallel, when both finish successfully, then (if on master branch) semantic-release will trigger a release

[2020-03-18 20:26] grzesuav commented on #64
I believe now we can switch from quay-github integration and move build & push docker also to gitlab action.

So this will need to change as :
* currently sem-rel is set to trigger release on every merge to master (if there will be `fix`/`feat` commit)
* docker images should be pushed only for releases

[2020-03-18 20:30] grzesuav commented on #64
There is no manual action type on github, closest I could find would be repository dispatch event if I read this correctly : https://help.github.com/en/actions/reference/events-that-trigger-workflows

[2020-03-19 02:45] AmitKumarDas commented on #90
Thanks @alaimo . I agree with you.

[2020-03-19 02:49] AmitKumarDas commented on #64
Yes

[2020-03-19 02:58] AmitKumarDas commented on #106
Trying to get my head around debug stuff. I hope log levels do help here. I/we are taking extra steps to unit test everything before pushing a PR. We need to think about exposing operational metrics soon.

However do we feel there might be circumstances where we need to attach a debugger to the running container and hence the need for a debug binary? Or is it something that I am not getting.

[2020-03-19 09:51] AmitKumarDas opened #112 "introduce MatchIntFields to match fields having int values"
**Problem Statement**: When `MatchFields` is applied against following resource, it results into error.
[code]
This is the error:
[code]

Solution: Introduce `MatchIntFields` that caters to nested fields with int as their value.

[2020-03-19 21:46] grzesuav commented on #106
@AmitKumarDas it is not only about attaching debuger, with distroless there is no shell/package manager so basically you cannot do anything with that process.

 I know that in k8s there are plans for ephemeral containers but :
* it is not there yet
* there would be a long transition time for people to move their cluster to target version anyway (having that feature)

[2020-03-19 21:53] grzesuav opened #113 "Expose additional metrics in prometheus"
For example:
* number of resync failures

[2020-03-20 01:16] AmitKumarDas commented on #106
Having two images makes sense then.

[2020-03-20 09:46] burningalchemist opened #114 "Metac - use case question"
Hi @AmitKumarDas,

Just a quick question, if you have time for it.
I'm trying to use metac/metacontroller so it could patch the existing object's specs (Service). It works with labels/annotations, but what I need is to inject an additional configuration parameter (in my case - `externalIPs`). The problem is that `metac` doesn't update the existing object (_not_ created by itself), but rather tries

[2020-03-20 10:16] AmitKumarDas commented on #114
Hi @burningalchemist ,
IMO `GenericController` from metac should solve your requirements. Did you try metac already? Can you provide the yamls to look into further?

I guess, in your specific case both watch & attachment are same. So watch & attachment resources can be configured to Service. One can further filter the attachment to refer to same watch via advanced filters. One need to be a bit car

[2020-03-20 12:03] burningalchemist commented on #114
@AmitKumarDas Thank you for a quick response!

Yeah, I've implemented the whole stuff but with `DecoratorController` for the moment (I've come from Metacontroller implementation) and I bumped into that kind of issue.

I'm on the same page with you, `MutatingAdmissionWebhook` for such a small thing seems like an overkill. I'll try to provide more details if you don't mind, but I'll also look into w

[2020-03-21 15:06] AmitKumarDas opened #115 "expose generic controller annotation keys as public"
Expose these constants as PUBLIC to be used by third party libraries or external controllers.

https://github.com/AmitKumarDas/metac/blob/master/controller/common/manage_attachments.go#L37-L41

[code]

[2020-03-21 18:26] jesusvazquez commented on #113
:wave: `number of resync failures` is a very specific and yet useful metric one could have to create an alert on in case there are resync errors.

A more generic approach would be something like the [Observability RED method](https://grafana.com/files/grafanacon_eu_2018/Tom_Wilkie_GrafanaCon_EU_2018.pdf) (Requests, Errors, Durations)
- Requests per second
- Errors per second
- Durations per second

[2020-03-23 04:13] AmitKumarDas commented on #65
@grzesuav will it be possible on your part to look into this once you current set of metac activities are completed?
I guess its time to have a new doc link. Once its there, I shall add the new things available in metac.

[2020-03-23 22:27] grzesuav commented on #64
Found official https://github.com/marketplace/actions/build-and-push-docker-images#Example-usage docker plugin.

@AmitKumarDas could you encrypt in gitlab `DOCKER_USERNAME` and `DOCKER_PASSWORD` variables ?

Also, what is registry url for quay.io ?

[2020-03-23 22:39] grzesuav commented on #64
Added changes to https://github.com/AmitKumarDas/metac/pull/109, however not sure how to test docker image push

[2020-03-24 04:18] AmitKumarDas commented on #64
@grzesuav  https://quay.io/repository/amitkumardas/metac

Should we push to some docker registry?
We can create a new registry?

[2020-03-24 16:40] grzesuav commented on #64
Docker images must be in docker registry. I believe quay.io is docker registry

It would be possible, although usually convention is to have repository/project so I think it could stay like it is.

As for me can try to use docker registry in form I configure it, and we will see how it works. I ca adjust it later with `fix: ` commit which would just trigger minor release.

What do you think ?

[2020-03-25 02:54] AmitKumarDas commented on #64
sounds great @grzesuav
I am merging the PR.

[2020-03-25 02:57] AmitKumarDas commented on #64
@grzesuav i am not sure of the credentials that need to be set against following ENVs
[code]
I will look around to find the clues

[2020-03-25 03:10] AmitKumarDas commented on #114
@burningalchemist you may try something like below:

[code]

[2020-03-25 03:20] AmitKumarDas commented on #64
@grzesuav release got created.
More additions are needed to following file:
https://github.com/AmitKumarDas/metac/blob/master/.github/semantic.yml

For example more types needs to be added:
https://github.com/angular/angular.js/blob/master/DEVELOPERS.md#type

[2020-03-25 08:18] burningalchemist commented on #114
Hi @AmitKumarDas Thanks a lot for the snippet, I'll try it out as soon as I can and share the feedback. I had to shift my gears to something different this week, but will get back and let you know. :)

[2020-03-25 17:59] grzesuav commented on #64
@AmitKumarDas fix for docker release https://github.com/AmitKumarDas/metac/pull/116

seems separate workflow is needed to be triggered on tags

[2020-03-25 18:01] grzesuav commented on #64
GITHUB token is needed for semantic release to communicate with github API and :
* create a tag
* create a release
* make comments on PR/issues

NPM is not needed, it is for publishing for nmp repository, I will remove it  in separate PR

[2020-03-25 18:02] grzesuav commented on #64
Yes, will look on that. Need to have same config for PR watcher and semantic release itself.

[2020-03-25 18:23] burningalchemist commented on #114
@AmitKumarDas I have a related question, which I can't get so far.
This is the `config.yml` which gets loaded by GenericController:
[code]
The logic is empty yet (took it from the example):
[code]
I have only a single service which contains annotation `metacontroller: "true"` - nginx. So I expect it to be filtered among all the services. But actually I get more than a single service observed:
[cod

[2020-03-26 05:38] AmitKumarDas commented on #114
@burningalchemist can you try this?

You may probably want to try things in different environment other than production before applying the same in production. I really don't have any other idea, other than implementing a DryRun stuff etc _(a long term stuff)_.

I have removed one selector from attachments. This additional selector was a OR operation & hence multiple services were considered as at

[2020-03-26 05:50] burningalchemist commented on #114
Hi @AmitKumarDas,

Yeah, or course I develop things in my own local cluster. To proceed further and avoid any unexpected situation, I need to make sure that I get the selection I request.

I guess you've removed the part:
[code]
I have tried it already as well (initially I picked the configuration you've shared above as is), but so far the result is the same - for some reason all the services get

[2020-03-26 06:00] AmitKumarDas commented on #114
Ok. Are you using the latest Metac binary?
Meanwhile I shall test the same on some setup

[2020-03-26 06:06] burningalchemist commented on #114
Oh, that's a good point. I'll check `go.mod`, as I build the binary myself. Let me try to check it first. :)

[2020-03-26 06:06] burningalchemist commented on #114
Oh, that's a good point. I'll check `go.mod`, as I build the binary myself. Let me try to check it first. :)

[2020-03-26 06:37] AmitKumarDas commented on #114
@burningalchemist if this is any opensource stuff or if repo is public, then you may provide the link.

[2020-03-26 06:37] burningalchemist commented on #114
@AmitKumarDas
Yeah, exactly, that was an issue. [go.mod](https://github.com/AmitKumarDas/metac/blob/master/examples/gctl/uninstall-openebs/go.mod) from the example contained an outdated reference and I wasn't attentive enough to check it.
I see that exactly one service is picked up now. 🎉 Thanks for you help! 👍

[2020-03-26 06:40] AmitKumarDas commented on #114
Some of the repos that uses matac and are being using in production might help you to refer as well. I will add these are references/adopters one day.

- https://github.com/mayadata-io/cstorpoolauto
- https://github.com/mayadata-io/d-operators/

[2020-03-26 06:42] burningalchemist commented on #114
Awesome, I'll take a look. Thanks again and have a great day. :)

[2020-03-26 07:49] luisdavim commented on #64
For tests I've started using these recently:
- https://github.com/bats-core/bats-core
- https://github.com/vincent-zurczak/detik
- https://github.com/jasonkarns/bats-mock

[2020-03-26 08:49] AmitKumarDas commented on #64
Hi @luisdavim above looks great. If we can integrate one of above with metac/examples & then run that on some K8s env (KIND or minikube) inside Travis or github actions then we achieve an automated e2e. Was that the intent of above post?

Meanwhile, I am working on a project around declarative e2e testing using metac. I shall talk about it once I am done.

[2020-03-26 10:41] AmitKumarDas commented on #111
This error may not happen if client-go & related k8s dependencies are pointed to v0.17.3
Need to write UT as well as update go.mod files to verify.

[2020-03-26 12:16] luisdavim commented on #64
I've been using `k3d`. What I have at the moment is very specific to the setup we use at my workplace, I'll see if I get some free time over the weekend and create something specific to `metac`.

[2020-03-27 09:59] grzesuav commented on #64
hmm noting happened. I was testing it by making and pushing my tags, probably when tag is created on gitlab it happens without pushing ? Wil try to cover it today with different workflow enabler.

@luisdavim does bats is for tasting bash scripts itself ?

[2020-03-27 15:01] AmitKumarDas commented on #14
closing this as part of following commits:
https://github.com/AmitKumarDas/metac/issues?q=label%3Aselect+is%3Aclosed

[2020-03-27 15:01] #14 closed

[2020-03-27 22:06] grzesuav commented on #64
@AmitKumarDas finally found it ! https://github.community/t5/GitHub-Actions/Github-actions-workflow-not-triggering-with-tag-push/td-p/39685 it seems that Workflow is not triggered by events created by default `GITHUB_TOKEN`. As a workaround - could you set secret named `PAT` on the repository (personal access token). It requires only repo permissions :
![image](https://user-images.githubuserconten

[2020-03-28 13:19] AmitKumarDas commented on #64
@grzesuav I did that & merged the PR later. However, git push seems to fail due to insufficient permissions. I am still trying to find the exact permissions in addition to the ones mentioned above.

[2020-03-29 15:10] AmitKumarDas commented on #64
Latest pr passed fine.. not sure if things are fine now.

[2020-03-30 04:28] AmitKumarDas commented on #64
@grzesuav Further updates. Submitting a PR passes with whatever credentials we have. However, post merging a PR, the release process fails.

[2020-03-30 09:57] burningalchemist commented on #114
Hi @AmitKumarDas, just for your information - I've successfully achieved the goal 👍
So far for quick development, I've used GenericController with an external webhook in Python, but once the logic is approved and stabilised, I'm going to move it to a inline function in Go.
I've also found a small quirk and happy to share as soon as I can. Thanks a lot for your help! 😃

[2020-03-30 09:57] #114 closed

[2020-03-30 16:28] grzesuav commented on #64
Don't look at PR status of Release job - it will skip releasing as not on master branch :

`[1:42:33 PM] [semantic-release] › ℹ  This test run was triggered on the branch code-2, while semantic-release is configured to only publish from master, therefore a new version won’t be published.`

At master there is :
'**semantic-release** cannot push the version tag to the branch `master` on the remote G

[2020-03-30 16:42] grzesuav commented on #64
https://github.com/zeke/semantic-pull-requests#configuration by default all of those are supported and accepted. Or you have some example it didn't worked ?

[2020-03-30 16:54] AmitKumarDas commented on #64
If default works then great. I thought we have to set it.

[2020-03-30 18:57] grzesuav commented on #64
Default actually **does not work**, unfortunately as expected. I added few additions in https://github.com/AmitKumarDas/metac/pull/120 .

How it should work :
* after merge to master, release 0.2.2 should be created
* `Docker release` workflow should be triggered

using this PR, on my repository :
![image](https://user-images.githubusercontent.com/9568421/77950459-d0c7c480-72c8-11ea-80c4-50f055218

[2020-03-31 04:03] AmitKumarDas commented on #64
@grzesuav Can you try any of the following secrets as reqd:
 DOCKER_PASSWORD
 DOCKER_USERNAME
 PAT

[2020-03-31 15:55] grzesuav commented on #64
@AmitKumarDas do not now why but it jus started working :
![image](https://user-images.githubusercontent.com/9568421/78047416-987fbf00-7378-11ea-93ff-1330839a4e67.png)
and we have now release 0.2.2 :
![image](https://user-images.githubusercontent.com/9568421/78047476-adf4e900-7378-11ea-9fa1-80f6c147667b.png)
it happend 12 hours ago (more or less when you were writing previous comment)

[2020-03-31 16:00] grzesuav commented on #87
So currently basic flow is achieved, we have working release pipeline.

What next ?
* static analysis ?
* code coverage ?

[2020-03-31 16:06] grzesuav commented on #64
My suggestions :
* we  can disable travis
* quay.io image build - not it is triggered by ever push to repo. Also the image is pushed from tag. It
 overlaps as can be seen here - https://quay.io/repository/amitkumardas/metac?tab=history

 ![image](https://user-images.githubusercontent.com/9568421/78048406-f7920380-7379-11ea-864b-3dbd1ab24d8b.png)

 so first image was build and push by github, and t

[2020-03-31 16:24] AmitKumarDas commented on #87
Thanks again @grzesuav
Let's add all badges that includes above and more. I hope these should be relatively  easy.

[2020-03-31 16:25] AmitKumarDas commented on #88
cc @grzesuav

[2020-03-31 16:27] grzesuav commented on #87
For code coverage I notice several solutions :
* run go coverage and upload it to
    * coveralls.io (https://github.com/marketplace/actions/actions-goveralls)
    * codecov.io (https://github.com/codecov/codecov-action)
    * codacy.com (https://github.com/brpaz/godacov-action)

it basically runs go test --cover and uploads test reult to third party storage, also we can retrieve bagde (and moreov

[2020-03-31 16:31] AmitKumarDas commented on #64
We will disable Travis once we are happy with GitHub actions.
IMO let quay be a duplicate registry unless it creates confusion for end users.
I am not sure if I understand integration with helm. @luisdavim can you throw some light on helm integration? What exactly should we do?

[2020-03-31 16:35] AmitKumarDas commented on #87
Anything is fine. Can we have a union of make unit-test and make integration as code coverage. Both of them are go test actually.

[2020-03-31 16:37] AmitKumarDas commented on #87
We need to add -cover to relevant make targets.

[2020-04-03 19:52] grzesuav opened #123 "Documentation: agree on principles of writing examples"
As pointed out in https://github.com/AmitKumarDas/metac/pull/122#discussion_r403272269

I think that having common agreement on principles of writing examples would make it easier to use.

Some initial though from my side :
* separate section with setting up local kubernetes - can be divided to sections of refference to upstream distributions (as probably they have  it explained better) + eventual

[2020-04-04 02:41] AmitKumarDas commented on #123
This will be a good idea to follow. Probably a template for examples will be a good starting point. kind, k3s, minikube etc can be placed as separate scripts if required or referred to their home pages.

[2020-04-04 14:32] AmitKumarDas commented on #123
Additional Notes: KIND along with local docker registry helps one to test sample controllers without the need to push images to image registry before testing the same. If there are alternatives then those may be documented &/ scripted in the examples/ folder itself. Specific example controllers can then make use of any of the documented ways to test the same.

[2020-04-08 05:18] AmitKumarDas opened #124 "load generic controllers based on their labels"
_ProblemStatement:_ I want metac to load generic controllers with specific labels. Metac should avoid loading generic controllers that do not have specific labels.

_PossibleSolution:_
[code]
[code]

[2020-04-11 12:27] AmitKumarDas commented on #65
I am contemplating use of https://v1.vuepress.vuejs.org/guide/deploy.html#github-pages for metac docs. Will get back with more details as I understand further.

[2020-04-12 13:58] AmitKumarDas opened #126 "add omitempty json tags against fields of advanced selector"
All the fields present in advanced selector are optional. It will be good to omit these null-able field(s) during marshal if they are not set.

[2020-04-13 08:57] #106 closed

[2020-04-13 09:42] floriankoch opened #127 "sample-controller does not work on kubernetes 1.16+"
The sample-controller uses  foos.samplecontroller.k8s.io

With newer kubernetes versions, the k8s.io namespace is protected
see https://github.com/kubernetes/enhancements/pull/1111

I suggest to switch to foos.samplecontroller.example.io

Is this the way forward?

[2020-04-13 09:47] AmitKumarDas commented on #127
thanks @floriankoch this is a good find.
We can proceed with above group name i.e. `foos.samplecontroller.example.io`

[2020-04-13 09:48] AmitKumarDas commented on #126
I have started working on this!

[2020-04-13 09:50] AmitKumarDas commented on #115
I have started working on this!

[2020-04-13 10:10] AmitKumarDas commented on #89
I have started working on this!

Generic controller's hook response will have two new fields:
- ExplicitUpdates of type []*unstructured.Unstructured
- ExplicitDeletes of type []*unstructured.Unstructured

[2020-04-13 10:21] #127 closed

[2020-04-13 10:26] AmitKumarDas commented on #106
:tada: This issue has been resolved in version 0.2.3 :tada:

The release is available on [GitHub release](https://github.com/AmitKumarDas/metac/releases/tag/v0.2.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-13 10:26] AmitKumarDas commented on #127
:tada: This issue has been resolved in version 0.2.3 :tada:

The release is available on [GitHub release](https://github.com/AmitKumarDas/metac/releases/tag/v0.2.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-14 10:44] AmitKumarDas opened #131 "feat(GenericController): add option to reconcile resources lazily"
**Problem Statement**: As a DevOps admin, I want GenericController to reconcile resources lazily. For example, I would want to reconcile a CRD & its CR at the same time using a single controller _(read GenericController)_. However, this results in error since this CR instance can only be reconciled after its CRD becomes available at the kubernetes api server.

**WorkAround**: We need to develop tw

[2020-04-14 19:18] floriankoch commented on #83
@AmitKumarDas  Is this issue current?

[2020-04-15 03:43] AmitKumarDas commented on #83
I guess its not correct. Just checked with the current codebase.
We can close this issue if you feel the same.

[2020-04-17 05:05] floriankoch opened #134 "Migrate from glog to another log solution?"
glog is not maintained since 2016 , and e.g  the kubernetes projekt itself migrated away
They use klog now, seems like mor or less a drop in replacement
https://github.com/kubernetes/klog

Should metac migrate away from glog?

If yes, which log solution?

[2020-04-17 06:35] grzesuav commented on #134
https://github.com/AmitKumarDas/metac/issues/110

[2020-04-17 06:35] grzesuav commented on #134
adding as it would be good to have possibility to log in json for usage with elasticsearch

[2020-04-17 09:44] rahulchheda opened #135 "usecase: Cron Controller similar to CronJob Controller."
So there is a dire need of a controller that can help me do CRUD operations on some CR, but those operations must be following the CronTab, and have all other functionality supported in the cronJob Controller, such as Concurrency Policy, Delayed Retry Time, and others.

[2020-04-17 09:45] rahulchheda commented on #135
cc: @AmitKumarDas

[2020-04-17 09:48] AmitKumarDas commented on #135
@rahulchheda Can you please put some yamls to describe a little better. Do you have the specs of Cron controller in your mind already?

[2020-04-17 09:54] rahulchheda commented on #135
So, what I have in mind would be a little vague, I think you would help me shape my thoughts a little bit also.
So, I want to have all functionality of v1beta1.CronJob (the spec will be the same as CronJob), but in template field, we would have namespaced-name of the a Custom Resource.
So the controller operations would be perform CRUD operation on that CR (which the template refer to) similar to

[2020-04-17 10:03] rahulchheda commented on #135
[code]

[2020-04-17 10:56] AmitKumarDas commented on #135
@rahulchheda If I understand correctly, you would like to have CronJob features against any CustomResource & not a Pod.

[2020-04-17 11:02] rahulchheda commented on #135
Yes, @AmitKumarDas, that's exactly I'm trying to convey. But inturn I don't want to be the one that is managing/maintaining all the logic, but its the CronJobController.
So, for completed/ retrying state, we have fields in CR status, which we can use here.

[2020-04-17 16:06] #115 closed

[2020-04-17 16:06] #126 closed

[2020-04-18 03:52] AmitKumarDas commented on #134
klog should be drop in replacement. Integration tests have them already.
I would vote for klog.

As per this [example](https://github.com/kubernetes/klog/blob/master/examples/klogr/main.go), it has all the fields needed to output in a structured format.

It will be great if community can try klog with json output & post the results here.

[2020-04-18 03:54] AmitKumarDas opened #136 "bug: integration tests are never run"
ProblemStatement: Integration tests in metac are never run. It encounters an error & swallows it due to a bug in error handling. This results in Integration Tests that always passes.

[code]

[2020-04-18 03:58] AmitKumarDas commented on #136
Posting the slack thread on the same:
[code]

[2020-04-18 05:10] floriankoch commented on #136
Sure about kind, and not k3s? K3s is a single binary , should be easy to use

[2020-04-18 05:15] floriankoch commented on #83
@AmitKumarDas  yes i think we can close

[2020-04-18 05:15] #83 closed

[2020-04-18 05:16] floriankoch commented on #82
Its merged so this issue can closed?

[2020-04-18 05:27] #82 closed

[2020-04-18 06:23] AmitKumarDas opened #137 "write unit tests for framework code present in test/integration package"
Unit Tests for framework code helps in ensuring the correctness of integration framework logic

[2020-04-18 06:33] AmitKumarDas commented on #136
thanks @floriankoch @grzesuav for suggestions w.r.t KIND & K3s

However, IMO we should target apiserver & etcd binaries along with minimal plumbing code _(read less go dependencies)_. One of the important reasons for this is we run integration tests from various environments where running them as part of docker multi-stage build is common. We run make integration-test as part of docker image build

[2020-04-18 17:43] floriankoch opened #139 "aarch64 builds"
metac should have support for aarch64 (arm64)

[2020-04-19 04:22] AmitKumarDas commented on #134
As discussed, Integration Tests in metac was using klog. This [PR](https://github.com/AmitKumarDas/metac/pull/138) makes use of klog with appropriate flags.

[2020-04-19 05:38] floriankoch commented on #139
For this we may need to use a new base image as distroless does noct have arm64 builds atm

[2020-04-21 04:35] #136 closed

[2020-04-21 04:41] AmitKumarDas commented on #126
:tada: This issue has been resolved in version 0.2.4 :tada:

The release is available on [GitHub release](https://github.com/AmitKumarDas/metac/releases/tag/v0.2.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-21 04:41] AmitKumarDas commented on #115
:tada: This issue has been resolved in version 0.2.4 :tada:

The release is available on [GitHub release](https://github.com/AmitKumarDas/metac/releases/tag/v0.2.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-21 04:41] AmitKumarDas commented on #136
:tada: This issue has been resolved in version 0.2.4 :tada:

The release is available on [GitHub release](https://github.com/AmitKumarDas/metac/releases/tag/v0.2.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-29 17:30] AmitKumarDas opened #140 "feat(generic controller): expose methods to support custom resources that define the attachments"
**_ProblemStatement_**: `GenericController` serves the purpose of being used as a config file to define the watch & attachments required to implement the reconciliation logic for any CustomResource. However, for certain use cases, it seems better to delegate definition of attachments to specific CustomResource specs instead of being defined in GenericController specs.  GenericController is thus le

[2020-04-30 15:56] AmitKumarDas commented on #140
Thinking more on this, `GenericController` configs can be loaded dynamically from kubernetes `ConfigMap` instead of the solution proposed above.

### Proposed Solution
Metac will be run on local mode. In this mode, metac reads the generic controller config files mounted at specified location. As an enhancement, metac can additionally read these config files from kubernetes config map. This lets en

[2020-05-21 14:26] AmitKumarDas commented on #135
closing this as a stale issue

[2020-05-21 14:26] #135 closed

[2020-05-21 14:28] AmitKumarDas commented on #89
closing this as part of https://github.com/AmitKumarDas/metac/pull/141

[2020-05-21 14:28] #89 closed

[2020-05-21 14:29] AmitKumarDas commented on #80
closing this as part of https://github.com/AmitKumarDas/metac/pull/141

[2020-05-21 14:29] #80 closed

[2020-05-21 14:30] AmitKumarDas commented on #78
this has been solved

[2020-05-21 14:30] #78 closed

[2020-05-21 14:35] AmitKumarDas opened #142 "feat: retry generic controller startup even if its resources are not discovered"
**_ProblemStatement_**: As a DevOps admin, I want to use metac for backward compatibility usecases. I want Metac to retry **discovering** CRDs & respective custom resources that are not yet available in the kubernetes clusters till certain other upgrade path(s) is complete. In certain cases upgrade might take few hours to few weeks or more. There might be cases where few teams want to keep using o

[2020-05-23 07:11] AmitKumarDas opened #144 "feat: display internal errors against custom resource status fields"
**_ProblemStatement_**: As a DevOps engineer, I want metac to display internal errors such as RBAC failure, discovery failure, & other runtime errors that happens during reconciliation against the custom resource that was being reconciled. As of now, I have no idea if something has gone wrong unless I check the logs of metac.

Refer:
- Comments in https://github.com/AmitKumarDas/metac/pull/143

[2020-05-23 07:16] AmitKumarDas commented on #144
There has been several discussions to expose these errors as events & metrics. However, metac should first make this error available in a way that provides immediate help. Events & metrics will be designed & implemented eventually.

Metac can log these runtime errors against a specific field of custom resource e.g. `status.metac`
In addition, this should be enabled only when the sync hook response

[2020-05-26 14:59] #142 closed

[2020-05-26 15:07] AmitKumarDas commented on #142
:tada: This issue has been resolved in version 0.4.0 :tada:

The release is available on [GitHub release](https://github.com/AmitKumarDas/metac/releases/tag/v0.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-01 06:49] AmitKumarDas opened #145 "expose fields of structure to aid in unit testing"
Take for example following structure used in dynamic/clientset/clientset.go file
[code]

Above structure does not provide any solution for the packages that depend on above struct during this package' unit tests. It will be easier to test if these fields were public.
Alternate way will be to expose an interface for each & every public method of this struct. However, it does not seem the most idiom

[2020-06-09 08:52] AmitKumarDas opened #146 "expose prometheus metrics as collector instances"
**ProblemStatement**: When I want to use metac as a library, I want to feed metac's prometheus metrics to the metrics server that my application is supposed to expose. This is turn also implies metac to optionally bring up a metrics server. Metac should instead provide ways to use its metrics collections by its consumers.

[2020-06-09 09:48] AmitKumarDas opened #147 "start method should accept a context"
**ProblemStatement**: When metac is used as a library, cancellable contexts might have been created in consuming code. It will be good if these contexts can be passed to metac's startup logic & let metac use consumer's context in metacontroller operations.

[2020-06-09 21:25] grzesuav commented on #146
duplicate of https://github.com/AmitKumarDas/metac/issues/113

[2020-06-18 08:56] AmitKumarDas opened #148 "add merge strategy to merge states while applying server side apply"
**ProblemStatement**: There are kubernetes resources whose specs may consist of fields with type []map[string]interface{}. Current server side apply logic present in metacontroller does a good job of trying to merge based on known merge fields. However, there are cases when known merge fields are not enough. This issue will track the enhancement to provide custom merge fields to run server side ap

[2020-07-29 08:15] AmitKumarDas opened #149 "feat: enable setting worker count to individual controllers"
**_ProblemStatement_**: As a Kubernetes controller developer, I want to set specific worker counts against controllers. Currently metac supports setting a common worker count for all controllers. This common tunable does not cater to use cases where multiple controllers need to run from a single binary.

[2020-07-30 07:37] AmitKumarDas opened #150 "feat: add binary option to ignore api discovery errors"
**_ProblemStatement_**: As a controller developer, I would like to ignore all or specific api discovery related errors during binary startup. This helps in getting the controller get started with the discoveries that were possible.

[2021-01-23 18:34] grzesuav commented on #150
I was thinking about fixing the same in metacontroller repo, but maybe in a slightly better way - don't ignore, but just put some kind of check if al required API resources are registered in discovery - and do not start discovery until it happens . But is is just an idea though, need to see if its implementable

[2021-01-24 05:46] AmitKumarDas commented on #150
#### Scenario 1
Managing api discovery errors is required when a CRD is being managed (_read create_) by a controller & the another controller needs to manage corresponding resource (_create/update/delete_). However since both controllers are started only during metac binary startup phase, it becomes difficult to signal completion of controllers start up activity to metac.

_NOTE: This seems to be

[2021-02-26 11:35] adwski opened #152 "Metac constantly updating child objects"
**Question.**

Metac is constantly updating child objects of each custom resource, disregarding resync interval. What could be done to stop it? With decent amount of CR objects it becomes very slow.

I could only find one possible cause about missing status subresource, but adding it did not solve the problem.

Version: quay.io/amitkumardas/metac:v0.4.0

K8s version: v1.16.15

CRD example:
[code]

[2021-02-27 23:16] grzesuav commented on #152
After adding status subresource, did you deleted and recreated all CR's ?

[2021-02-28 06:11] adwski commented on #152
I did not. But I restarted metac, thought It is stateless. Will try it, thanks.

[2021-03-03 05:59] adwski commented on #152
I recreated all CR's with
kubectl get .. -o yaml
kubectl delete ...
kubectl apply -f ...

But that didn't help, unfortunately.

[2021-03-03 09:24] adwski commented on #152
Figured out the problem. For some reason I though that passing ResyncPeriodSeconds = 0 would result in infinite resync interval. But I was wrong. Changed my hook to pass it as null and constant updates stopped.

[2021-03-09 21:25] adwski commented on #152
That wasn't so simple :)

Although there was mistakes from my side regarding parentLabels, there are still some issues I'd like to mention.

1. Ingress child resources have to be created by sync hook with "pathType": string("ImplementationSpecific"), otherwise k8s will add this field by itself, and that will trigger updates.

2. TargetPort has to be specified for service child resources, otherwise

[2021-03-20 20:09] grzesuav commented on #152
hi @adwski , some questions :
ad 1 .
[code]
can you elaborate a bit, not sure what you have in mind.
ad 2. Maybe for clarity can you  pass here what look like Ingress resource initilay created and how looked like fixed version ?
ad 3. can you add examples as well ?
ad 4.

hmm it might be, but changing `deepEqual` will have significant implication on metacontroller behavior.

If it is not a problem

[2021-03-20 20:11] grzesuav commented on #152
also, for 4. I created https://github.com/metacontroller/metacontroller/issues/155 some time ago , but didn't started looking at this. In general sometimes the exact thing you want to change are `labels` / `annotations`, so when changing comparison method we need to be extra careful

[2021-12-19 22:50] akulpillai opened #155 "[Security] Workflow test-release.yaml is using vulnerable action actions/checkout"
The workflow test-release.yaml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE